.benefits__list {

  @media screen and (max-width: 767px) {
    margin-top: -30px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: -30px;
  }
}

.benefits__bg {
  display: flex;
  background-color: #f5f4fa;
  border-radius: 4px;
  width: auto;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.benefits__bg--bottom {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.benefits__item {

  @media screen and (min-width: 480px) {
    &:not(:last-child) {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    // display: flex;
    // flex-wrap: wrap;
    // flex-basis: culc((100% - 60px) / 2);
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    // display: flex;
    // flex-basis: culc((100% - 120px) / 4);
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    // &:not(:last-child) {
    //   margin-right: 30px;
    // }
  }
}

.benefits__title {
  @include font(700, 14px, 1.14, 0.03em);

  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}

.benefits__title--bottom {
  margin-bottom: 10px;
}

.benefits__text {
  @include font(400, 14px, 1.71, 0.03em);
  color: var(--second-color);
}
