@mixin font($fw: 500, $fs: 16px, $lh: 30px, $ls: 0.02em) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin mobil {
  @media screen and (min-width: 480px) {
    width: 480px;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    width: 768px;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
